VITE_FIREBASE_API_KEY=AIzaSyBes2bxDuJtmRN79c1tdldkGImSa6nJ_fk
VITE_FIREBASE_AUTH_DOMAIN=ingenieriasoftware2026junio.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ingenieriasoftware2026junio
VITE_FIREBASE_STORAGE_BUCKET=ingenieriasoftware2026junio.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=134693968877
VITE_FIREBASE_APP_ID=1:134693968877:web:cb60297761b66c0eb425e4
VITE_FIREBASE_MEASUREMENT_ID=G-TLJMEJ4545
VITE_ADMIN_EMAIL=elkit.com@gmail.com
